# common
node_modules/

# api
api/build/
api/nodemon.json

# app
app/.expo/
app/.env*
app/eas.json
app/google-services.json
app/dist/
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/
app/expo-env.d.ts